---
import Card, { type CardProps } from '../components/Card.astro';
import Icon, { type IconProps } from '../components/Icon.astro';
import Layout from '../layouts/Layout.astro';
import profileImage from '../assets/profile.webp';
import spotifyIcon from '../assets/spotifyIcon.svg';
import githubIcon from '../assets/githubIcon.svg';

const icons: IconProps[] = [
  {
    src: spotifyIcon.src,
    alt: 'Spotify icon',
    href: 'https://open.spotify.com/user/31vet4czlalxz4duwbny5isz23we?si=44c68b59b5454d3f',
  },
  {
    src: githubIcon.src,
    alt: 'Github icon',
    href: 'https://github.com/tobitaku',
  },
];

const links: CardProps[] = [
  { text: 'Letterboxd', href: 'https://boxd.it/wunf' },
  { text: 'MAL', href: 'https://myanimelist.net/profile/tobitaku' },
  {
    text: 'Goodreads',
    href: 'https://www.goodreads.com/user/show/142868931-tobi',
  },
];
---

<Layout title="tobitaku.xyz">
  <main class="mx-auto max-w-screen-sm p-8">
    <div class="flex flex-col gap-y-4 justify-center items-center my-14">
      <img
        class="rounded-full"
        src={profileImage.src}
        alt="Profile pic"
        width="100"
        height="100"
      />
      <div class="font-semibold text-xl tracking-tight">Tobias Ziegler</div>
      <div class="flex justify-center items-center gap-x-4">
        {
          icons.map((icon) => (
            <Icon src={icon.src} alt={icon.alt} href={icon.href} />
          ))
        }
      </div>
    </div>
    <div class="flex justify-center flex-col gap-y-4">
      {links.map((link) => <Card text={link.text} href={link.href} />)}
    </div>
  </main>
</Layout>
